#profilData {
    border-bottom: 0.15rem solid #7A74A6;
    padding: auto;
    align-content: center;

}

#mainData {
    #profilePic {
        margin: 2rem;
        border-radius: 50%;
        height: 10rem;
        width: 10rem;
    }

    #profilePic:hover{
        border-radius: 0%;
    }

    #pro #userName {
        margin: 0;
    }
}