* {
    margin: 0;
    max-height: 100vh;
}

#root {
    height: 100vh;
}

html,
body {
    height: 100vh;
    overflow-y: clip;
}


.layout {
    height: 100%;
    width: 100%;
    display: flex;
}

.sideBar {
    background-color: gray;
    width: fit-content;
    padding: 10px;
    position: relative;
}

.sideBar#left{
    float: inline-start;
}


.sideBar#right{
    float: inline-end;
}

.canvasContainer {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}


button,
input {
    margin: 10px 0;
    padding: 5px;
}

p {
    margin-top: 20px;
}