#left {
    background-color: var(--divCol);
    border-right: 2px solid var(--borderCol);
    align-items: center;
    align-content: center;
}

#right {
    background-color: var(--divCol);
    border-left: 2px solid var(--borderCol);
}

#middle {
    background-color: var(--divCol);
}

#feed {
    background-color: var(--backgroundColor);
    height: 100%;
    width: 70%;
    align-self: center;
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.posts {
    align-items: center;
    border-bottom: var(--borderCol) 3px solid;
    width: 100%;
    background-color: transparent;
}

.posts img {
    width: 100%;
    display: block;
    height: auto;
    object-fit: cover;
    padding: 10px;
}

.profile-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-name {
    font-size: 19px;
    font-weight: bold;
}

.card-footer {
    text-align: right;
    font-size: 14px;
    border-top: none;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--lowHighlight);
}

::-webkit-scrollbar-thumb {
    background: var(--highlight);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--textCol);
}

.costumButtons:hover{
    cursor: pointer;
}

#userSearch{
    height: fit-content;
    width: 100%;
    background-color: var(--backgroundColor);
    border: 2px solid var(--borderCol);
    margin-top: 0 !important;
    display:block;
    color: var(--textCol);
}

#userSearch:focus{
    outline: none;
}

#allUsers{
    display: block;
    width: 100%;
}

#allUsers img {
    height: 70px;
    margin-right: 20px;
}

#users{
    padding: 10px;
    border-bottom: 2px solid var(--borderCol);
    margin: auto;    
}

#date {
    font-size: xx-small;
}