#left{
    background-color: #1F1F4C;
    border-right: 0.15rem solid #7A74A6;
}

#right{
    background-color: #1F1F4C;
    border-left: 0.15rem solid #7A74A6;
}

#middle{
    background-color: #1F1F4C;
}

#feed{
    background-color: #303050;
    height: 100%;
    width: 70%;
    align-self: center;
}