#left{
    border-right: 0.15rem solid #7A74A6;
}

#right{
    border-left: 0.15rem solid #7A74A6;
}

#feed{
    height: 100%;
    width: 70%;
    background-color: #1F1F4C;
    align-self: center;
    
}