* {
  margin: 0;
  max-height: 100vh;
}

:root {
  --backgroundColor: #303050;
  --divCol: #1F1F4C;
  --lowHighlight: #35355A;
  --highlight: #494873;
  --borderCol: #7A74A6;
  --textCol: #A5A0D4;
}

#root {
  height: 100vh;
  background-color: var(--backgroundColor);
}


html,
body {
  height: 100vh;
  overflow-y: clip;
  color: var(--textCol);
}

.overall-layout {
  display: flex;
  height: 100%;
  flex-direction: row;
}

.content-area {
  flex: 1;
  padding: 20px;
}

@media (max-width: 768px) {
  .overall-layout {
    flex-direction: column;
  }

  .content-area {
    padding: 10px;
  }
}

ul {
  list-style-type: none;
  margin: 2%;
  padding: 0;
}

#homePage {
  width: fit-content;
  padding: auto;
  margin: auto;
}

.title {
  width: fit-content;
  align-self: center;
  padding: auto;
  margin: auto;
}

a:not(.navbar-brand) {
  text-decoration: none !important;
  color: #A5A0D4 !important;
}

a:hover{
  background-color: #35355A;
  text-decoration: none;
}

button{
  background-color: #1F1F4C !important;
  color: #7A74A6 !important;
}

input{
  background-color: var(--backgroundColor) !important;
  color: var(--textCol)  !important;
  box-shadow: none;
  border: none !important;

}