* {
  margin: 0;
  max-height: 100vh;
}

:root {
  --backgroundColor: #303050;
  --divCol: #1F1F4C;
  --lowHighlight: #35355A;
  --highlight: #494873;
  --borderCol: #7A74A6;
  --textCol: #A5A0D4;
}

#root {
  height: 100vh;
  background-color: var(--backgroundColor);
}


html,
body {
  height: 100vh;
  overflow-y: clip;
  color: var(--textCol);
}

.overall-layout {
  display: flex;
  height: 100%;
  flex-direction: row;
  width: 100%;
}

.main-content {
  width: 100%;
}

.content-area {
  flex: 1;
  padding: 1%;
}

#homePage {
  margin: 1%;
  text-align: left;
  padding: 1%;
  background-color: var(--divCol);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
  .overall-layout {
    flex-direction: column;
  }

  .content-area {
    padding: 10px;
  }
}

ul {
  list-style-type: none;
  margin: 2%;
  padding: 0;
}

.title {
  width: fit-content;
  align-self: center;
  padding: auto;
  margin: auto;
}

a{
  text-decoration: none !important;
  color: var(--textCol) !important;
}

a:hover{
  background-color: var(--lowHighlight);
  text-decoration: none;
}

button{
  background-color: var(--divCol) !important;
  color: var(--textCol) !important;
}

input{
  background-color: var(--backgroundColor) !important;
  color: var(--textCol)  !important;
  box-shadow: none;
  border: none !important;
}

textarea {
  background-color: var(--backgroundColor) !important;
  color: var(--textCol) !important;
  box-shadow: none;
  border: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: var(--textCol);
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
};