.sidebar {
  left: 0;
  height: calc(100%);
  width: 25%;
  padding-top: 5%;
  background-color: var(--divCol);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: width 0.5s ease;
  overflow: hidden;
}

.sidebar.closed {
  width: 0;
}

.sidebar-link {
  display: block;
  text-align: left;
  color: var(--textCol);
  font-size: large;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.sidebar-link:hover {
  background-color: var(--lowHighlight);
}

.sidebar-handle {
  position: absolute;
  top: 50%;
  width: 2rem;
  height: 2rem;
  background-color: var(--divCol);
  border: 2px solid var(--borderCol);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: right 0.7s ease;
}

.sidebar-handle:hover {
  right: -2rem;
}

.sidebar.right {
  border-left: 2px solid var(--borderCol);
}

.sidebar.left {
  border-right: 2px solid var(--borderCol);
}
