.sidebar {
  height: 100%;
  width: 15%;
  padding-top: 2%;
  padding-left: 0.5%;
  background-color: var(--divCol);  
  transition: width 0.5s ease;
  flex: 0 0 15%;
  min-width: 200px;
}

.sidebar-header {
  font-size: 1.5rem;
  font-weight: bold;
  color: transparent !important;
  background: linear-gradient(90deg, #ae21ff, #b00b69, #1467ff, #ff006a);
  -webkit-background-clip: text;
  background-clip: text;
  transition: transform 2s ease-in-out;
}

.sidebar.closed {
  width: 0;
  visibility: collapse;
}

.sidebar.closable {
  position: absolute;
  top: 0px;
  left: 0;
  position: fixed;
  z-index: 100;
}

.sidebar.open{
  width: 15%;
}

.sidebar-link, .account-section {
  display: block;
  text-align: left;
  font-size: large;
  padding: 0;
  margin: 0;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.sidebar-link:hover {
  background-color: var(--lowHighlight);
  cursor: pointer;
}

.sidebar-handle {
  position: absolute;
  top: 50%;
  width: 10%;
  aspect-ratio: 1 !important;
  background-color: transparent;
  border: 2px solid var(--borderCol);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  visibility: visible;
}

.sidebar-handle:hover {
  background-color: var(--lowHighlight);
}

.sidebar.right {
  border-left: 2px solid var(--borderCol);
  margin-left: auto;
}

.sidebar.left {
  border-right: 2px solid var(--borderCol);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
