.sidebar {
  height: 100%;
  width: 15%;
  padding-top: 2%;
  padding-left: 0.5%;
  background-color: var(--divCol);  
  transition: width 0.5s ease;
  flex: 0 0 15%;
  min-width: 200px;
}

.sidebar-header {
  font-size: 1.5rem;
  font-weight: bold;
  color: transparent !important;
  background: linear-gradient(90deg, #8A2BE2, #b000c7, #2665ec, #FF1493);
  -webkit-background-clip: text;
  background-clip: text;
  transition: transform 0.3s ease-in-out;
}

.sidebar.closed {
  width: 0;
}

.sidebar.open{
  width: 15%;
}

.sidebar-link, .account-section {
  display: block;
  text-align: left;
  font-size: large;
  padding: 0;
  margin: 0;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.sidebar-link:hover {
  background-color: var(--lowHighlight);
  cursor: pointer;
}

.sidebar-handle {
  position: absolute;
  top: 50%;
  width: 2rem;
  height: 2rem;
  background-color: transparent;
  border: 2px solid var(--borderCol);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: right 0.7s ease;
  visibility: visible;
}

.sidebar-handle:hover {
  background-color: var(--lowHighlight);
}

.sidebar.right {
  border-left: 2px solid var(--borderCol);
  margin-left: auto;
}

.sidebar.left {
  border-right: 2px solid var(--borderCol);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
