.feed-container {
    background-color: var(--backgroundColor);
    padding: 20px;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: larger;
}

/* Card for posts */
.card {
    background-color: transparent;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

/* Profile parts */
.profile-img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
}

.profile-name {
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
}

/* Comments */
.comment-form {
    display: flex;
    width: 100%;
}

.comment-input {
    width: 80%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--borderCol);
}

.comment-submit {
    padding: 8px 15px;
    background-color: var(--backgroundColor);
    color: var(--textCol);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.comment-submit:hover {
    background-color: var(--lowHighlight);
}

.comment-profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Scroll */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--highlight);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--textCol);
}

/* Responsive */
@media (max-width: 768px) {
    .card {
        width: 90%;
    }
    .comment-form {
        flex-direction: column;
    }
}
