#feed {
    background-color: var(--divCol);
    height: 100%;
    width: 70%;
    align-self: center;
    overflow-y: auto;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: larger;
    gap: 20px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.mb-post-card {
    width: 100%;
    min-width: 50%;
    background-color: transparent;
    margin-bottom: 4%;
    padding: 1%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    height: fit-content;
}

.postImg {
    width: 100%;
    max-width: 100%;
    height: auto;   
    object-fit: contain;
    padding: 1%;
    box-sizing: border-box;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.profile-name {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 0;
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding: 0 15px;
    margin-bottom: 10px;
}

.tags {
    background-color: var(--highlight);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9em;
}

.comment-container {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.summary {
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 10px;
}

.like-text {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
}

.date-text {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 0.8em;
    color: var(--textCol);
}

.input-group {
    width: 100%;
}

.card-text {
    white-space: pre-wrap;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--lowHighlight);
}

::-webkit-scrollbar-thumb {
    background: var(--highlight);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--textCol);
}