* {
  margin: 0;
  max-height: 100vh;
}

#root {
  height: 100vh;
  
  color: #A5A0D4 !important;
  background-color: #303050;
}

html,
body {
  height: 100vh;
  overflow-y: clip;
}

ul {
  list-style-type: none;
  margin: 2%;
  padding: 0;
}

#homePage {
  width: fit-content;
  padding: auto;
  margin: auto;
}

.title {
  width: fit-content;
  align-self: center;
  padding: auto;
  margin: auto;
}

a:not(.navbar-brand) {
  text-decoration: none !important;
  color: #A5A0D4 !important;
}

a:hover{
  background-color: #35355A;
  text-decoration: none;
}

button{
  background-color: #1F1F4C !important;
  color: #7A74A6 !important;
}