* {
    margin: 0;
    max-height: 100vh;
}

#root {
    height: 100vh;
}

html,
body {
    height: 100vh;
    overflow-y: clip;
}


.layout {
    height: 100%;
    width: 100%;
    display: flex;
}

.sideBar {
    background-color: gray;
    width: fit-content;
    padding: 10px;
    position: relative;
}

.sideBar#left{
    float: inline-start;
}

.rsz {
    width: 2px;
    height: 100%;
    background-color: black;
    position: absolute;
}

.rsz:hover {
    cursor: e-resize;
}

#leftResize {
    right: 0;
    top: 0;
}

#rightResize{
    left: 0;
    top: 0;
}


.sideBar#right{
    float: inline-end;
}

.canvasContainer {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

canvas {
    width: 100%;
    height: 100%;
    margin: auto;
}

button,
input {
    margin: 10px 0;
    padding: 5px;
}

p {
    margin-top: 20px;
}