.layout {
    height: 100%;
    width: 100%;
    display: flex;
}

.sideBar {
    width: fit-content !important;
    position: relative;
}

.sideBar#left {
    border-right: 0.15rem solid var(--borderCol);
    background-color: #303050 !important;
}

.sideBar#right {
    border-left: 0.15rem solid var(--borderCol);
    background-color: var(--backgroundColor) !important;
}

.canvasContainer {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

#gl-canvas {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: white;
}

/*color*/
.topRow{
    width: 100%;
    border-bottom: 2px solid var(--borderCol);
    padding: 10px;
    position: relative;

}

#Color {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    height: fit-content;
    width: fit-content;
}

#colorWheel {
    aspect-ratio: 1 !important;
    flex-grow: 1;
    position: relative;
    cursor: crosshair;
    border: 2px solid black;
}

#colorColumns {
    aspect-ratio: 1/4;
    position: relative;
    border: 2px solid black;
}

#colorWheelDiv, #colorColDiv {
    position: relative;
    width: fit-content;
    height: fit-content;
}

#marker {
    width: 5%;
    height: 5%;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: none;
}

#markerCol {
    width: 100%;
    height: 5%;
    border-radius: 20%;
    border: 2px solid white;
    position: absolute;
    transform: translateY(-50%);    
    pointer-events: none;
}

#currentColor {
    width: 20px;
    height: 20px;
    border: 2px solid black;
}


/*extras*/

button,
input {
    margin: 10px 0;
    padding: 5px;
}

p {
    margin-top: 20px;
}